<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home' %}">Receipt List</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'list_categories' %}">Expense Categories List</a>
                    </li>
                    <li>
                        <a href="{% url 'category_create' %}">Create Expense Category</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">Accounts List</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
