{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Accounts</h1>
            <div>
                <a href="{% url "create_account" %}">Create a New Account</a>
            </div>
            <br/>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for acct in account_list %}
                        <tr>
                            <td>{{ acct.name }}</td>
                            <td>{{ acct.number }}</td>
                            <td>{{ acct.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
