{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>List of Expense Categories</h1>
            <div>
                <a href="{% url "category_create" %}">Create An Expense Category</a>
            </div>
            <br/>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expensecategory_list %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
